

body{
    margin: 0%;
    height: 50%;
    
}
header h1{
    color:#343436;
    margin-top: 12%;
    margin-right: 18%;
}
h4{
    color: #5C5F66;
    font-family: sans-serif;
    margin-bottom: 2%;
    margin-right: 10%;
    
}
header{
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url( ../images/header2.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    #Visit{
        background-color: #8174B4;
        color: white;
        border:none;
        border-radius: 50px;
        margin-right: 18%;
        cursor: pointer;}
}
#man{
    height: 400px;
    margin-left: 10%;}


p{
    color: #5C5F66;
    
}
h3{color:#8174B4 ;
   font-family: Arial, Helvetica, sans-serif
   
}
h5{color: #5C5F66;
   
}
.flex{
    display: flex;
    align-items: center;
}
button{
    background-color:white;
    border-radius: 20px;
    border: #8174B4 1px solid;
    width: auto;
    text-align: center;
    height: 40px;
    color: #8174B4;
    cursor: pointer;
    width: 100px;
}
h6{
    text-align: center;
    color: #5C5F66;
}
h4{text-align: center;
   margin-right: -0%;
   color: #8174B4;
   margin-top: -1%;
}
.flex1{
    display:flex;
    width: 100%;
    gap: 10%;    
    overflow: hidden;
    div{
        border:1px solid;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        width: 30%;
        height: 150px;
    }
    .txtcacher{
        position: relative;
        top: 60px;
    }
    div:hover{
        img,p{
            transform: translateY(-140px);
            transition: 2s ease;
        }
        
    }
    img{
        
        height: 50px;
        
 
        
    }
}
.flex2{
    display:flex;
    justify-content: center;
    gap: 15%;
    border-radius: 15%;
    
    img{
        height: 250px;
        
        
     }
#Portfolio{color: #8174B4;
           text-align: center;
}   
        
    }
    .flex3{
        display:flex;
        justify-content: center;
        gap: 15%;
        border-radius: 15%;
        
        img{
            height: 250px;
            
       
        
            
         }
    #Portfolio{color: #8174B4;
               text-align: center;
    }   
    
            
        }
        #A{
            background-color: #fbfbfb;
            margin-top: 30px;
            .flex-6{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                p{
                    color: #695AA6
                }
                
            }
            button{
                color: #343436;
                background-color: rgb(255, 255, 255);
                font-weight: bold;
                border-style: none;
                border-radius: 5px;
                width: 70px;
                height: 40px;
            }
           #dial{
            color: #695AA6;
           }
        }
        section{
            #blog{color:#695AA6;
                  
            }
            .flex-7{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5%;
                img{
                    width: 70%;
                    border-radius: 50%;
                    position: relative;
                    top: 5px;
                    left: -45%;
                }
                >div{
                    width: 40%;
                    border: solid 1px black;
                    color: #695AA6;
                }
            }
            .flex-8{
                #elit{
                    color: #695AA6;
                }
                display: flex;
                p{   
                    position: relative;
                    left: -15%;
                }
            }
        }
        section{
    
            .flex-9{
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
            .flex-10{
                display: flex;
                justify-content: center;
                gap: 10%;
                #illo{color: #695AA6;}
                #elit{color: #695AA6;}
                div{
                    border-left-width: 1%;
                    height: 310px;
                    padding-left: 3%;
                }
                #lorem{
                    border: 1px solid black;

                }
                img{
                    width: 100%;
    
                }
            }
        }
        section{
            #nou{color: #695AA6;}
            width: 100%;
            text-align: center;
            .flex-11{
                width: 60%;
                text-align: left;
                margin: auto;
                display: flex;
                align-items: baseline;
                div{
                    flex-grow: 1;
                }
                .div{
                    flex-grow: 20;
                }
            }
            textarea{
                height: 100px;
                width: 50%;
                gap: 10%;
                
            }
            button{
                border-radius: 5px;
                color: #695AA6;
                border: #695AA6 1px solid;
                background-color: white;
                height: 30px;
                margin-top: 20px;
                margin-bottom: 50px;
            }
        }
        #con{color: #695AA6;}
        #lol{
            background-color: #695AA6;
            width: 100%;
            height: 100px;
            .benz{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:30% ;
                p{
                    color: white;
                }
            }
        }
    


    footer{
        p{
            margin-right: 90%;
        }
       button{
       
       }
        
    }